{% extends "kb/base.html" %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">A collection of useful articles about Python, Django and web applications</small>
          </div>
          <h2><a class="article-title" href="">Knowledge base - About</a></h2>
          <p>
            Get involved in building a knowledge base
          </p>
        </div>
      </article>
{% endblock content %}