{% extends "kb/base.html" %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">Prin Portal HR vei avea acces direct la resurse pe care altfel ar trebui sa pierzi timp si energie pentru a le identifica.</small>
          </div>
          <h2><a class="article-title" href="">Portal HR - About</a></h2>
          <p>
            Portal HR se doreste a fi o sursa permanenta de informatii despre resurse umane. De la concepte, la idei, provocari si solutii, ne dorim sa iti oferim articole de calitate, recomandari inspirate, studii de caz, interviuri si multe resurse pentru imbunatatirea eforturilor pe care le faci in tot ce este legat de resurse umane.
          </p>
        </div>
      </article>
{% endblock content %}