{% extends "kb/base.html" %}

{% block content %}
<!-- <h1>HR Database - Home page</h1> -->
{% for article in employees_list %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="text-muted"  href="#">{{ article.first_name }}</a>
      <small class="text-muted">{{ article.last_name }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ article.email }}</a></h2>
    <h2><a class="article-title" href="#">{{ article.departments }}</a></h2>
    <h2><a class="article-title" href="#">{{ article.jobs }}</a></h2>
    <p class="article-content">{{ article.hire_date }}</p>
  </div>
</article>
{% endfor %}
{% endblock content %}