{% extends "kb/base.html" %}

{% block content %}
    <!-- <h1>Knowledge base - Home page</h1> -->
    {% for article in articles %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="me-2" href="#">{{ article.headline }}</a>
            <small class="text-muted">{{ article.pub_date }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ article.reporter }}</a></h2>
          <!-- <p class="article-content">{{ article.content }}</p> -->
        </div>
    </article>
    {% endfor %}
{% endblock content %}